body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(135deg, #ed53af, #44abf5);
}

.logo-wrapper {
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    .logo-wrapper {
        justify-content: flex-start;
    }
}